/* 
* Styles only relate to Recipe module. Allows for classes to have same 
* name, but different styles.
*/
.recipe { 
  border-radius: 10px; 
  box-shadow: 0px 5px 20px rgb(72, 72, 72);
  margin-bottom: 40px; 
  width: 60%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  background-color: white; 
}

h1 { 
  text-align: center;
}

.image { 
  border: 2px solid black;
  border-radius: 10px; 
  width: 55%;
}

.calories { 
  margin-bottom: 10px;
}

ul { 
  width: 90%;
  margin-top: 0px;
  margin-bottom: 25px;
}

li { 
  width: 95%;
}

